html,
body {
    background-color: #cccdce;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #fff;
    height: 140px;
    text-align: center;
}

.header h1 {
    color: #31363d;
    font-size: 32px;
    margin: 0;
    padding-top: 44px;
}

.nav ul {
    height: 50px;
    margin: 0 0 30px;
    padding: 20px 0px;
    text-align: center;
}

.nav li {
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
    display: inline;
    color: #fff;
    text-transform: uppercase;
    padding: 0px 10px;
    font-size: 18px;
}

.nav li:hover {
    color: #31363d;
    cursor: pointer;
    -webkit-transition: color 1s;
    transition: color 1s;
}

.row {
    margin-top: 30px;
}

.footer h2 {
    text-align: right;
    font-size: 16px;
    padding-right: 5%;
}

@media (max-width: 500px) {
    .row {
        margin-top: 0;
    }
    .img-responsive {
        margin-bottom: 20px;
    }
}