html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.container {
    margin: 0 auto;
    max-width: 940px;
    padding: 0 10px;
}


/* Header */

.header {
    height: 800px;
    text-align: center;
    background-image: url(https://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/bg.jpg);
}

.header .container {
    position: relative;
    top: 200px;
}

.header h1 {
    font-size: 72px;
    line-height: 100px;
    margin-top: 0;
    margin-bottom: 80px;
    color: #fff;
}

@media (min-width:850px) {
    .header h1 {
        font-size: 120px;
    }
}

.header p {
    font-weight: 500;
    letter-spacing: 8px;
    margin-bottom: 40px;
    margin-top: 0;
    color: #fff;
    font-size: 23px;
}

.btn {
    background: black;
    transition: background .5s;
    color: #fff;
    text-decoration: none;
    padding: 10px 40px;
}

.btn:hover {
    background: #117bff;
    cursor: pointer;
    transition: background .5s;
}


/* Nav */

.nav ul {
    list-style: none;
    margin: auto;
    width: 100%;
    text-align: center;
    background-color: #000;
}


/* Main */

.main .container {
    margin: 80px auto;
}


/* Jumbotron */

.jumbotron {
    background: url(https://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/jumbotron_bg.jpg) center center;
    background-size: cover;
    height: 600px;
    padding-bottom: 0;
}

.jumbotron .container {
    position: relative;
    top: 50%;
    text-align: right;
    color: #fff;
    padding-right: 8%;
}


/* Footer */

.footer {
    background-color: #000;
    height: 80px;
    padding-top: 0;
}

.footer p {
    font-size: 14px;
    color: #fff;
    line-height: 430%;
    font-family: 'Roboto', sans-serif;
    padding-left: 10%;
}


/* Media Queries */

@media (max-width: 500px) {
    .header h1 {
        font-size: 50px;
        line-height: 64px;
    }
    .main,
    .jumbotron {
        padding: 0 30px;
    }
    .main img {
        width: 100%;
    }
}

.nav li {
    display: inline-block;
}