<head>
    <link rel="stylesheet" href="https://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Arvo:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="style/style.css">
</head>

<body>

    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    <h1 style="border-color: rgb(51, 51, 51);">BestBite</h1>
                </div>
                <div class="col-md-7 col-sm-7">
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#" style="border-color: rgb(216, 25, 47);">About</a>
                        </li>
                        <li><a href="#">Sign Up</a>
                        </li>
                        <li><a href="#">Log In</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-9">
                    <h1 style="border-color: rgb(255, 255, 255);">Browse.</h1>
                </div>
                <div class="col-sm-offset-8">
                    <h1 style="border-color: rgb(255, 255, 255);">Create.</h1>
                </div>
                <div class="col-sm-offset-7">
                    <h1 style="border-color: rgb(255, 255, 255);">Share.</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section banner">
        <div class="container">
            <h2>Always have the answer to "What's for dinner?"</h2>
            <a href="#" class="btn-default btn-lg" style="border-color: rgb(204, 204, 204);">Learn More</a>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="page-header">
                <h1 style="border-color: rgb(51, 51, 51); margin-right: 525px; margin-left: 0px; margin-top: 0px;">Newest Contributions</h1>
            </div>
            <div class="food">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <h3>Breakfast</h3>
                        <p>Maple French Toast
                            <br>Rolled Oats with Berries</p>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <h3>Dinner</h3>
                        <p>Black Bean Stuffed Peppers
                            <br>Pesto Pasta with SPinach</p>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <h3>Dessert</h3>
                        <p>German Chocolate
                            <br>Hazelnut Tiramisu</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-sm-4">
                <h4>Mathias Haugsbø</h4>
            </div>
            <div class="col-sm-4">
                <h4>Norway</h4>
            </div>
            <div class="col-sm-4">
                <h4 style="border-color: rgb(51, 51, 51);">Phone</h4>
            </div>
        </div>
    </div>


</body>