html,
body {
    margin: 0;
}

h1,
h2,
a {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    width: 940px;
    margin: 0 auto;
    color: #fff;
}


/* Main */

.main {
    height: 600px;
    background: url(/Move/images/bg.jpg);
    background-size: cover;
    text-align: center;
}

.main h1 {
    font-size: 150px;
    margin: 0;
}

.main p {
    font-size: 18px;
}

.main .btn {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition: background .5s;
}


/* Supporting */

.supporting {
    text-align: center;
    padding: 50px 0 80px;
    background-color: #1c1c1c;
}

.supporting .col {
    float: left;
    width: 28%;
    padding: 10px;
}

.supporting h1,
.supporting h2 {
    color: #ffa800;
    font-size: 20px;
    margin-bottom: 10px;
}

.clearfix {
    clear: both;
}

.supporting p {
    color: #efefef;
    margin-bottom: 20px;
    line-height: 20px;
    font-size: 12px;
}

.supporting .btn {
    background-color: #eee;
    color: #1c1c1c;
    font-size: 18px;
    padding: 8px 30px;
    text-decoration: none;
    display: inline-block;
}


/* Feature */

.feature {
    height: 600px;
    background: url(/Move/images/feature.jpg);
    background-size: cover;
    text-align: center;
}

.feature h1,
.feature h2 {
    color: #fff;
    font-size: 40px;
    margin: 0;
    padding: 30% 0 0;
}


/* Footer */

.footer {
    height: 800px;
    background: url(/Move/images/footer.jpg);
    background-size: cover;
    text-align: center;
}

.footer .btn {
    background-color: #1c1c1c;
    color: #fff;
    font-size: 18px;
    padding: 8px 30px;
    text-decoration: none;
    display: inline-block;
}

.footer h1,
.footer h2 {
    color: #fff;
    font-size: 40px;
    margin: 0 0 20px 0;
    padding: 50px 0 0;
}

.footer p {
    color: #fff;
    margin: 0 0 20px 0;
    font-size: 18px;
}

.btn:hover {
    background: #ffa800;
    cursor: pointer;
    transition: background .5s;
}

@media (min-width:600px) {
    .main h1 {
        font-size: 200px;
    }
    .supporting .col {
        width: 30%;
    }
    .supporting h2 {
        font-size: 40px;
    }
    .supporting p {
        font-size: 14px;
    }
    .feature h2 {
        font-size: 60px;
    }
}