html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Arvo', serif;
    font-size: 16px;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}


/* Header */

.header {
    padding: 40px;
}

.nav-pills li a {
    color: #d8192f;
    border: solid 1px #d8192f;
    margin-left: 10px;
    text-align: center;
    margin-top: 15px;
}

.nav-pills li.active a,
.nav-pills li a:hover,
.section .btn:hover {
    background-color: rgba(216, 25, 47, 1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    color: #fff;
}


/* Jumbotron */

.jumbotron {
    height: 500px;
    background: url(/BestBite/images/bg.jpg) no-repeat center center;
    background-size: cover;
}

.jumbotron .row {
    padding-top: 20%;
    color: #fff;
}


/* Banner */

.banner,
.supporting {
    text-align: center;
    padding-top: 20px;
}

.banner {
    background-color: #36343f;
    height: 180px;
    color: #fff;
}

.banner h2 {
    padding-bottom: 20px;
}

.banner .btn-default {
    background-color: rgba(216, 25, 47, .5);
    color: #fff;
}

.food h3 {
    text-align: center;
    color: #d8192f;
    margin: 30px 0px 20px;
}

.food p {
    text-align: center;
    padding: 5px 0 0 5px;
}

.footer {
    height: 100px;
    margin-top: 80px;
    padding: 20px 0px 100px;
    background-color: #eee;
    text-align: center;
}

.footer h4 {
    font-size: 16px;
}


/* Media Queries */

@media (max-width: 680px) {
    .header h1 {
        margin-bottom: 20px;
        text-align: center;
    }
    .nav {
        float: none;
        margin: 0 auto;
    }
    .banner {
        height: 220px;
    }
    .nav-pills li:first-child a {
        margin-left: 0;
    }
}