html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0;
}

.header {
    background-color: #30627E;
    padding: 20px 0 20px;
}

.nav li {
    display: inline;
    text-decoration: none;
    list-style-type: none;
    padding: 20px 30px 20px 30px;
    color: #fff;
    font-size: 20px;
}

.nav .main {
    font-size: 28px;
    background-color: #e52364;
}

.jumbotron {
    background: url(/Adoptly/images/bg.jpg) no-repeat center center;
    background-size: cover;
    height: 800px;
}

.supporting {
    text-align: center;
}

.btn {
    border: 1px solid;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 10px 30px 10px;
}

.footer {
    color: #fff;
    padding-bottom: 20px;
    background-color: #e52364;
}

.footer h3 {
    font-size: 18px;
}

@media (max-width: 500px) {
    ul li {
        width: 100%;
    }
}