body {
    max-width: 100vw;
    margin: 0;
    padding: 0;
}

.navbar {
    background: rgba(255, 255, 255, .8);
}

#section1 {
    background: url(../images/Components.jpg) no-repeat center center;
    background-color: rgb(40, 75, 99);
    box-shadow: inset 0 0 0 1000px rgba(50, 75, 99, .8);
    background-size: cover;
    color: #fff;
}

.text {
    max-width: 1366px;
    margin: 0 auto;
}

#section1 h1 {
    font-size: 20vw;
    margin-top: 3vw;
}

#section1 p {
    font-size: 250%;
    margin-top: 2vw;
    margin-bottom: 10vw;
}

#section1 h1,
p {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section2 {
    background-color: rgba(40, 75, 99, .7);
    min-height: 100vh;
    padding-top: 1vh;
    text-align: center;
    color: #fff;
}

#section2 h2 {
    font-size: 7vh;
    margin-bottom: 8vh;
}

#section2 img {
    max-width: 100%;
}

#section2 .row {
    max-width: 1366px;
    margin: 0 auto;
    padding-bottom: 3vh;
}

#jumper {
    text-align: center;
    width: 100%;
    background: none;
    border: none;
}

#section2 .blinds-text .row {
    margin-top: 5vh;
    max-width: 1366px;
}

#section2 .blinds-text {
    font-size: 3vh;
}

#name,
#email,
#message {
    color: black;
}

#submit_button {
    color: black;
    border: 1px solid black;
    background-color: #fff;
    border-radius: 4px;
}

#submit_button:hover {
    color: #fff;
    background-color: rgba(40, 75, 99, .7);
}

#section3 {
    max-width: 100vw;
    text-align: center;
}

#section3 h2 {
    font-size: 50px;
}

#section3 h3 {
    font-size: 30px;
}

#section3 p {
    font-size: 20px;
}

#section3 img {
    max-width: 100%;
    max-height: 50%;
}

#section3 .row {
    padding: 3vw;
    max-width: 1366px;
    margin: 0 auto;
    text-align: center;
}

#light_text,
#blinds_text,
#machine_text,
#heat_text,
#sound_text {
    position: absolute;
    top: 0;
    background-color: rgba(40, 75, 99, .8);
    height: 100%;
    width: 100%;
    color: #fff;
    visibility: hidden;
    border: 3px solid black;
}

#section3 .row p {
    height: 100%;
    line-height: 100%;
}

.light:hover #light_text,
.blinds:hover #blinds_text,
.machine:hover #machine_text,
.heat:hover #heat_text,
.sound:hover #sound_text {
    visibility: visible;
    cursor: pointer;
}

.col-sm-4 {
    min-height: 500px;
}

footer {
    position: static;
    height: 50px;
    border: 0;
    width: 100%;
    padding-left: 5vw;
}