html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    background: url(/Junction/images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.container {
    max-width: 940px;
}


/* Header */

.header {
    padding: 10px 0;
    background-color: rgba(0, 0, 0, .5);
    height: 60px;
}

.logo {
    margin: 0 30px 0;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
    margin-right: 30px;
    color: #fff;
    font-size: 18px;
}

.nav li:hover {
    text-decoration: underline;
    color: rgba(0, 255, 188, 0.5);
}


/* Jumbotron */

.jumbotron {
    text-align: center;
    position: relative;
    top: 50px;
    color: #fff;
    text-shadow: 0 2px 3px rgba(0, 0, 0, .4);
    background: 0;
}


/* Supporting */

.supporting {
    margin-top: 40px;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, .4);
    text-align: center;
    color: #fff;
}

.row {
    margin-bottom: 50px;
}

.btn-default {
    background-color: rgba(0, 255, 188, 0.5);
    color: #fff;
    font-size: 18px;
    padding: 10px 60px;
    margin-bottom: 100px;
    border: none;
    border-radius: 8px;
}

.btn-default:hover {
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    text-decoration: none;
}