#main {
    margin: auto;
    width: 460px;
    height: 520px;
    background-color: black;
    color: #303030;
    padding: 20px;
    font-family: "Arial", "Sans";
    text-transform: uppercase;
    box-shadow: 0 0 20px gray;
}

.row div {
    display: inline-block;
    margin: 10px 20px;
    font-size: 40px;
    text-align: center;
}

.row div:first-child {
    float: left;
    text-align: left;
}

.row div:last-child {
    float: right;
    text-align: right;
}

.on {
    color: white;
    text-shadow: 0 0 10px white;
}