.container {
    max-width: 928px;
}

h1,
h2,
p,
a {
    font-family: 'Helvetica Neue Thin', 'HelveticaNeue-Thin', 'helvetica neue', helvetica, arial, 'lucida grande', sans-serif;
}

h1 {
    font-size: 64px;
    font-weight: 100;
    margin-bottom: 20px;
}

a {
    font-weight: 200;
    text-decoration: none;
}

p {
    font-size: 26px;
    font-weight: 200;
}

.btn {
    background-color: rgba(238, 68, 95, 0.9);
    padding: 8px 30px;
    font-size: 24;
    color: #fff;
}

btn:hover {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 4px;
    transition: box-shadow 0.25s;
}

.main {
    height: 550px;
    padding-top: 55px;
    background: url(/Shutterbug/images/intro.jpg);
    background-size: cover;
}

.main p {
    font-size: 26px;
    font-weight: 200;
    margin-bottom: 40px;
}

.section .container {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #dbdbdb;
}

.store {
    text-align: center;
    border-bottom: 0px;
    padding-bottom: 100px
}

.footer {
    border-top: 1px solid #dbdbdb;
    background-color: #f3f3f3;
    padding: 20px 0px 80px;
}

.footer ul {
    list-style-type: none;
    padding-left: 0;
    color: #555;
}

.footer li {
    color: #555;
    font-weight: 600;
}

@media (max-width: 500px) {
    .col-md-6 img {
        padding: 50px;
        width: 100%;
    }
}